<% @critterposts.each do |critterpost| %>
  <div class='critterpost'>
    <div class='critterpost_content'>
      <%= critterpost.content %>
    </div>
    <div class='critter_author'>
      Crittered <%= time_ago_in_words(critterpost.created_at) %> ago.
      <%= link_to "@#{critterpost.user.username}", critterpost.user %>
    </div>
  </div>
<% end %>
